@import '../../themify.scss';
@import '../../theme.scss';
.toggleButton {
    position: fixed;
    bottom: 0.5em;
    left: 0.5em;
    background: none;
    border-radius: 50%;
    padding: 1em;
    border: none;
    cursor: pointer;
    @include themify($themes) {
        background: themed('borderColor');
    }
    &:active,
    &:focus {
        outline: none;
    }
}
