@import '../../themify.scss';
@import '../../theme.scss';

.searcher {
    box-sizing: border-box;
    text-align: center;
    position: relative;
    width: 70%;
    max-width: 420px;
    margin: 1em auto;
    @include themify($themes) {
        color: themed('textColor');
    }
    input {
        box-sizing: border-box;
        padding: 0 1em;
        font-size: 1em;
        height:36px;
        border-radius: 1.5em;
        width: 100%;
        box-shadow: none;
        border: none;
        outline-width: 0;
        transition: color $animationTime ease, background-color $animationTime ease,
            border-color $animationTime ease;
        @include themify($themes) {
            background-color: themed('alternativeBackgroundColor');
            color: themed('textColor');
            border: 1px solid themed('borderColor');
        }
        &:active,
        &:focus {
            @include themify($themes) {
                border-color: themed('primaryColor');
            }
        }
    }
    .clearButton {

        background: none;
        border-radius: 50%;
        position: absolute;
        right: 10px;
        top:4px;
        border: none;
        cursor: pointer;
        width: 28px;
        height: 28px;
        @include themify($themes) {
            color: themed('primaryColor');
        }
        &:hover {
            @include themify($themes) {
                background: themed('borderColor');
            }
        }
        &:active,
        &:focus {
            outline: none;
        }
        svg {
            @include themify($themes) {
                fill: themed('primaryColor');
            }
        }
    }
}
@media (max-width: 480px) {
    .searcher {
        width: 90vw;
    }
}
