
$animationTime: .200s;
$themes: (
    light: (
        backgroundColor: #f4f4f4,
        alternativeBackgroundColor: #fff,
        textColor: #4f4f4f,
        borderColor: #e8e8e8,
        shadowColor: #9ecece,
        primaryColor: #ed5e93,
    ),
    dark: (
        backgroundColor: #222,
        alternativeBackgroundColor: #444,
        textColor: #a8a8a8,
        borderColor: #555,
        shadowColor: #dedede,
        primaryColor: #ed5e93,
    ),
);
