
$animationTime: .200s;
$themes: (
    light: (
        backgroundColor: #f0f0f0,
        alternativeBackgroundColor: #f6f6f6,
        textColor: #4f4f4f,
        borderColor: #e8e8e8,
        shadowColor: #cecece,
        primaryColor: #ed5e93,
        lightPrimaryColor: #ed5e9333,
    ),
    dark: (
        backgroundColor: #222,
        alternativeBackgroundColor: #444,
        textColor: #a8a8a8,
        borderColor: #555,
        shadowColor: #dedede,
        primaryColor: #ed5e93,
        lightPrimaryColor: #ed5e9333,
    ),
);
